.icontextYourbe > p {
  margin-left: 1.5rem;
  margin-top: 0rem;
  line-height: 1.7rem;
  font-size: 1.3rem;
}

.contenuYourbenefice {
  margin-left: 6rem;
}
.YourbeneficeG {
  padding: 1rem;
}
.YourbeneficeD {
  padding: 1rem;
}
.iconbe {
  width: 2.5rem;
  color: rgb(15, 116, 186);
  height: 1.5rem;
}
