.displayFlex {
  display: flex;
  flex-direction: row;
}
.navbargauche {
  justify-content: space-between;
  flex: 1;
}
.navbarDroit {
  justify-content: center;
  flex: 3;
}
.contenuNavbar {
  justify-content: space-between;
  padding: 1rem;
}
.navbargauche > .imgN {
  width: 20%;
  height: 90%;
}
.navbargauche > .img1N {
  width: 70%;
}
.linkNavbar > .lienNav {
  flex: 1;

  width: 8rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.linkNavbar > .lienNav:hover {
  color: green;
}
.btnNav {
  width: 10rem;
  background-color: rgb(9, 113, 184);
  color: rgb(208, 183, 195);
  padding: 1rem;
  font-size: 1.3rem;
  border: solid 1px transparent;
  border-radius: 5%;
}
.ouroffer:hover > .textOuroffers {
  visibility: visible;
}
